<div id='scrollContainer' class="h-full">
  <div id="scrollContainerContent" class="flex items-center min-h-full pointer-events-auto">
    <div id='organigram' [ngStyle]="{'zoom': scaleMultiplier + '%'}" class="p-8 mx-auto">
      <div class='py-4 px-8 bg-white mx-auto max-w-max rounded-xl cursor-default'>Company</div>
      <ng-container *ngIf="chartData$ | async as chartData">
        <app-part-organization-chart-child
          [children]='chartData'
          [selectedUser]='selectedUserId'>
        </app-part-organization-chart-child>
      </ng-container>
    </div>
  </div>
</div>

<!--<app-part-organization-chart-settings-->
<!--  [layoutType]="layoutType"-->
<!--&gt;</app-part-organization-chart-settings>-->
<!--<app-part-organization-chart-selected-user-box-->
<!--  [user]="selectedUser"-->
<!--  [selectedUserId]="selectedUserId"-->
<!--  [layoutType]="layoutType"-->
<!--  [presentationMode]="presentationMode"-->
<!--&gt;</app-part-organization-chart-selected-user-box>-->
